<div class="countdown-container">
  <h4 class="countdown-title">Countdown to St. Mary's Web-a-Thon</h4>
  <div class="timer">
    <div class="timer-component">
      <span id="days"> {{daysToDday}} </span>Day(s)
    </div>
    <div class="timer-component">
      <span id="hours"> {{hoursToDday}} </span>Hrs
    </div>
    <div class="timer-component">
      <span id="minutes"> {{minutesToDday}} </span>Min
    </div>
    <div class="timer-component">
      <span id="seconds"> {{ secondsToDday }} </span>s
    </div>
  </div>
</div>
